@import '../../styles/variables.css';
.container {
    background-color: #75cef1;
    display: flex;
    align-items: center;
    padding: 20px;
    min-width: 400px;
}

.input {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px;
}

.button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}