@import '../../styles/variables.css';
.container {
    background-color: #4CAFAF;
}

.header-wrapper {
    display: flex;
    padding: 15px;
}

.title {
    font-family: sans-serif;
    font-size: 24px;
    flex-grow: 1;
}

.login-button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
}

.login-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}