.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    padding: 0 10%;
    background-color: rgb(192, 191, 191);
    flex-grow: 1;
}

.contacts-wrapper {
    width: 30%;
    background-color: rgb(75, 157, 189);
    padding: 20px;
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    background-color: rgb(172, 207, 207);
    justify-content: flex-end;
}