.container {
    display: flex;
    padding: 0 5%;
}

.contacts-wrapper {
    width: 30%;
    background-color: rgb(172, 207, 207);
    padding: 10px;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    background-color: rgb(172, 207, 207);
    height: 100vh;
    justify-content: flex-end;
}